port = "4444"
enable_basic_auth = true
credential = "user:password"
//enable_tls = true

permit_write = true
permit_arguments = true

preferences {
  font_size = 14
  audible_bell_sound = "lib-resource:hterm/audio/bell"
  desktop_notification_bell = true
  enable_reconnect = true
  background_color = "rgb(34, 34, 34)"
  scrollbar_visible = false
  //scroll_on_keystroke = false
  //scroll_on_output = yes
  //mouse_paste_button = 3
  user_css = "http://io:4242/s/gotty.css"
}